html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
.editor {
  background-color: #FFFFFF;
  border: 1px solid #f7dfdf;
  margin-top: 20px;
  width: 720px;
  margin: 0 auto;
  height: 500px;
  position: relative;
	font-family: "微软雅黑";
}
.editor-nav {
  background-color: #f8f8f8;
  border-bottom: 1px solid #f7dfdf;
  height: 10%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.menu-icon {
  padding: 16.5px 19.8px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  z-index: 10001;
  cursor: pointer;
}
.menu-icon i {
  font-family: "Glyphicons Halflings" !important;
  font-size: 20px;
  position: relative;
  color: #ababab;
  line-height: 20px;
  transform: translateY(-50%);
  margin: 0 auto;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-transform: none;
}
.editor-body {
  position: relative;
  height: 90%;
  width: 100%;
  overflow: scroll;
  padding: 0 10px;
}
.nav-active::before {
  color: skyblue;
}
.chooseList {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  border: 1px #ccc solid;
  list-style: none;
  background-color: #FFFFFF;
  text-align: -webkit-match-parent;
}
.chooseItem {
  margin: 0;
  padding: 5px 0;
  border-bottom: solid 1px #ABABAB;
}
.fontColorBlock {
  width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: initial;
  float: left;
}
.chooseBlockItem {
  padding: 5px 5px;
  display: inline-block;
}
.editor-nav span {
  width: 100%;
}
.ipt-ctn,
.ipt-pic-ctn {
  display: block;
  position: absolute;
  z-index: 100000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5%;
  margin-left: -300px;
  margin-top: 30px;
  cursor: default;
}
.ipt-ctn i,
.ipt-pic-ctn i {
  position: absolute;
  float: right;
  right: 5px;
  top: 19px;
  font-size: 17px;
}
.ipt-body,
.ipt-pic-body {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.ipt-body input,
.ipt-pic-body input {
  margin-top: 15px;
  margin-bottom: 15px;
}
.ipt-title,
.ipt-pic-title {
  text-align: left;
  cursor: default;
  list-style: none;
  padding: 5px 15px;
}
.ipt-title-text,
.ipt-pic-title-text {
  left: 0;
  margin-top: 5px;
}
.ipt-btn,
.ipt-pic-btn {
  float: right;
  background-color: #F7DFDF;
  width: 67px;
  height: 32px;
  margin: 10px 0;
  padding: 10px 0;
  right: 0;
  margin-right: 20px;
  text-align: -webkit-match-parent;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}
.ipt-text,
.ipt-pic-text {
  margin-bottom: 8px !important;
}
.show-pic-body {
  width: 300px;
  height: auto;
  z-index: 10000;
  background-color: #fff;
  cursor: default;
  vertical-align: middle;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1.5px solid #000000;
  border-bottom: 1px solid black;
  /*max-height: 0px;*/
  overflow: hidden;
  border-left: 5px solid #87CEEB;
}
.show-align-span {
  margin-left: 4px;
}
.show-scope-label {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 94px;
  margin-left: 73px;
}
.show-scope-input {
  margin-left: 93px;
  width: 86px;
  margin-bottom: 10px;
}
.show-space-label {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 143px;
  margin-left: 79px;
}
.show-hspace-input {
  margin-left: 93px;
  width: 86px;
}
.show-vspace-input {
  margin-top: 5px;
  margin-left: 93px;
  width: 86px;
}
.change-pic-body {
  border-top: 1px solid black;
}
.choose-btn,
.change-btn {
  width: 50px;
  height: 30px;
  background-color: #F7DFDF;
  margin: 10px;
  vertical-align: middle;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
}
.ipt-pic-btn-title {
  padding: 10px 0px;
  padding-left: 10px;
  border-left: 5px solid #87CEEB;
  border-top: 1px solid #000000;
  margin-bottom: 0.5px;
  border-bottom: 1px solid #000000;
}
.ipt-pic-change-body {
  border-left: 7px solid #87CEEB;
  border-radius: 0%;
  padding-left: 40px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.ipt-pic-change-ctn {
  text-align: -webkit-auto;
  border-radius: 0%;
}
.pic-change-link {
  margin: 10px 0px 10px 15px;
}
.tip-ctn {
  background-color: #CCCCCC;
  width: 120px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5%;
}
.tip-ctn input {
  width: 100px;
  padding: 0;
  margin: 0;
}
.tip-x-ipt {
  margin-bottom: 10px !important;
}
.tip-resize-btn {
  width: 30px;
  margin-top: 10px;
  height: 20px;
  background-color: #F7DFDF;
  margin-right: 10px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  padding-left: 2px;
  padding-top: 4px;
}
.pic-changeHandle {
  overflow: hidden;
  display: block;
  width: 7px;
  height: 7px;
  background-color: blue;
  position: absolute;
  font-size: 0;
  margin-left: -3px;
  margin-top: -3px;
}
.pic-changeHandle0 {
  top: 0;
  left: 0;
  cursor: nw-resize;
}
.pic-changeHandle1 {
  top: 50%;
  left: 0;
  cursor: e-resize;
}
.pic-changeHandle2 {
  top: 100%;
  left: 0;
  cursor: ne-resize;
}
.pic-changeHandle3 {
  top: 100%;
  left: 50%;
  cursor: s-resize;
}
.pic-changeHandle4 {
  top: 100%;
  left: 100%;
  cursor: se-resize;
}
.pic-changeHandle5 {
  left: 100%;
  top: 50%;
  cursor: e-resize;
}
.pic-changeHandle6 {
  left: 100%;
  top: 0;
  cursor: ne-resize;
}
.pic-changeHandle7 {
  left: 50%;
  top: 0;
  cursor: ns-resize;
}
blockquote {
	border-left: 5px solid #66AFE9;
	background-color: #F5F5F5;
}
.article-line {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #8C8C8C;
}
p{
	margin: 10px 0px;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 100;
}
a {
	color: #C0A16B;
	cursor: pointer;
}

a:hover {
	color: #AC2925;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}
